.header {
    width: 100%;
    max-width: 1400px;
    position: relative;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerWrapper {
    width: 90%;
    /* background-color: rosybrown; */
   
}

.navbarContent {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: -2;
}

.logo {
    width: 150px;
    height: auto;
    margin: 20px 0;       
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;    
}

.navlinks li {
    font-size: 20px;
    list-style-type: none;
    margin: 0 10px;
}

.headerImage {
    width: 800px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}

.headerTitle {    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerContent {    
    width: 45%;
    margin-top: 150px;    
}

.headerContent h2{ 
    font-size: 42px;
    margin-bottom: 40px;
}

.headerContent p{ 
    font-size: 20px;
}

@media (max-width: 980px) {
    .navbarContent, .navbarMask{
        display: none;
    }
}

@media (max-width: 768px) {
    .headerTitle {
        justify-content: center;
        margin-top: 100px;
    }
    .headerContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headerContent p, .headerContent h2 {
        text-align: center;
    }
    .headerImage {
        width: 100%;
    }
}